<!DOCTYPE html>
<html>
<!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.11.6")
  -->

<head>
    <link href="css/Material-Icons-Outlined.css" rel="stylesheet" type="text/css">
    <link href="css/quasar.prod.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">

        <q-layout view="hhh lpR fff">

            <q-header elevated class="bg-primary text-white">
                <q-toolbar>
                    <q-btn dense flat round icon="menu" @click="leftDrawerOpen = !leftDrawerOpen"></q-btn>
                </q-toolbar>
            </q-header>

            <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
                <q-scroll-area class="fit">
                    <q-list padding class="menu-list">
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <a href="qr-login.html">QR Login</a>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <a href="index.html">Search</a>
                            </q-item-section>
                        </q-item>
                        <q-item clickable v-ripple>
                            <q-item-section>
                                <a href="template.html">Template</a>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-scroll-area>
            </q-drawer>

            <q-page-container>

                <div class="q-pa-md">

                    <q-form @submit="onSubmit" class="q-gutter-md q-mb-md">
                        <q-editor 
                        v-model="templateForm.msg" 
                        :dense="$q.screen.lt.md"
                        min-height="15rem"
                        max-height="25rem"
                        :toolbar="[
                            [
                            {
                                label: $q.lang.editor.align,
                                icon: $q.iconSet.editor.align,
                                fixedLabel: true,
                                list: 'only-icons',
                                options: ['left', 'center', 'right', 'justify']
                            },
                            {
                                label: $q.lang.editor.align,
                                icon: $q.iconSet.editor.align,
                                fixedLabel: true,
                                options: ['left', 'center', 'right', 'justify']
                            }
                            ],
                            ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
                            ['token', 'hr', 'link', 'custom_btn'],
                            ['print', 'fullscreen'],
                            [
                            {
                                label: $q.lang.editor.formatting,
                                icon: $q.iconSet.editor.formatting,
                                list: 'no-icons',
                                options: [
                                'p',
                                'h1',
                                'h2',
                                'h3',
                                'h4',
                                'h5',
                                'h6',
                                'code'
                                ]
                            },
                            {
                                label: $q.lang.editor.fontSize,
                                icon: $q.iconSet.editor.fontSize,
                                fixedLabel: true,
                                fixedIcon: true,
                                list: 'no-icons',
                                options: [
                                'size-1',
                                'size-2',
                                'size-3',
                                'size-4',
                                'size-5',
                                'size-6',
                                'size-7'
                                ]
                            },
                            {
                                label: $q.lang.editor.defaultFont,
                                icon: $q.iconSet.editor.font,
                                fixedIcon: true,
                                list: 'no-icons',
                                options: [
                                'default_font',
                                'arial',
                                'arial_black',
                                'comic_sans',
                                'courier_new',
                                'impact',
                                'lucida_grande',
                                'times_new_roman',
                                'verdana'
                                ]
                            },
                            'removeFormat'
                            ],
                            ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                            ['undo', 'redo'],
                            ['viewsource']
                        ]" :fonts="{
                            arial: 'Arial',
                            arial_black: 'Arial Black',
                            comic_sans: 'Comic Sans MS',
                            courier_new: 'Courier New',
                            impact: 'Impact',
                            lucida_grande: 'Lucida Grande',
                            times_new_roman: 'Times New Roman',
                            verdana: 'Verdana'
                        }"></q-editor>

                        <div>
                            <q-btn name="save" label="Save" type="submit" color="primary"></q-btn>
                        </div>
                    </q-form>

                    <q-table :loading="contacttblSync" style="max-height: 70vh;" class="my-sticky-header-table"
                        title="Contact List" :rows="contacttblData" :columns="contacttblcolumns" row-key="title"
                        :rows-per-page-options="[0]">
                    </q-table>

                </div>

            </q-page-container>

        </q-layout>

    </div>

    <!-- Add the following at the end of your body tag -->
    <script src="js/vue.global.prod.js"></script>
    <script src="js/quasar.umd.prod.js"></script>
    <script src="js/axios.min.js"></script>

    <script>
        let { ipcRenderer } = require("electron")
        const app = Vue.createApp({
            data() {
                return {
                    leftDrawerOpen: false,
                    templateForm: {
                        msg: ""
                    },
                }
            },
            mounted() {
                ipcRenderer.on("ready", async (evt, data) => {
                    if(data==false){
                        window.location.href = "index.html";
                    }
                });
            },
            methods: {
                async onSubmit(evt) {
                    const result = await ipcRenderer.invoke('start-contact-sync', this.templateForm.msg)
                }
            }
        })

        app.use(Quasar)
        app.mount('#q-app')
    </script>
</body>

</html>